.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-search {
  margin-bottom: 0.5rem;
}

.submit{
  margin-top: 1rem;
}

body{
  background-color: #4a4a4a !important;
}

.wrapper{ 
  margin-top: 200px;
}

.search{
  background-color: #e0e0e0;
  border-radius: 17px;
  padding: 30px;
}

.search-form{
  margin-bottom: 5px;
}
.music-card {
  margin: 10px 5px;
  width: 100%;
}

a{ 
  color: inherit;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

.music-card{
  background-color: #e0e0e0;
}

.music-card:hover{
  background-color: #a5a5a5;
}

@media only screen and (min-width: 490px) {
  .music-card {
    width: 200px;
  }
}